<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.naulitraders.servlets.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>truckInfoServlet</servlet-name>
    <servlet-class>com.naulitraders.servlets.TruckInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>truckInfoServlet</servlet-name>
    <url-pattern>/TruckInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tripServlet</servlet-name>
    <servlet-class>com.naulitraders.servlets.Trip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tripServlet</servlet-name>
    <url-pattern>/TruckTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.naulitraders.servlets.CreateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editTripsServlet</servlet-name>
    <servlet-class>com.naulitraders.servlets.EditTrips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editTripsServlet</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>expensesServlets</servlet-name>
    <servlet-class>com.naulitraders.servlets.Expenses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>expensesServlets</servlet-name>
    <url-pattern>/Exp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeeServlets</servlet-name>
    <servlet-class>com.naulitraders.servlets.EmpDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exployeeServlets</servlet-name>
    <url-pattern>/Emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminServlets</servlet-name>
    <servlet-class>com.naulitraders.servlets.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlets</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>